<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Link expired</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" />

</head>
<body class="h-100">
    <div class="container w-100 h-100 mx-auto my-auto">
        <h3>Expired</h3>
        <p>Link has expired, click below to send the link again</p>
        <a class="btn btn-primary" href="/sendResetPassword">Go to Reset Password</a>
    </div>
</body>
</html>