<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title >Verify email</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div class="container">
    <div class="card">
    <div class="card-body">
    <div th:if="${notExists}" class="alert alert-danger" role="alert">
        No user found with this email!
    </div>
    <div th:if="${verified}" class="alert alert-success" role="alert">
            Email is already verified
        </div>
        <div th:if="${sent}" class="alert alert-success" role="alert">
                    Email is sent, please check your email inbox.
                </div>
    <form th:action="@{/send-verify-email}" method="POST">
        <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email"  placeholder="example@example.com"
               class="form-control" required/>
        </div>


       <button class="btn btn-primary mt-1" name="Submit" value="Send" type="Submit" th:text="Send"></button>
    </form>
    </div>
    </div>
</div>

</body>
</html>