<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title >Reset Password</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div class="container">
    <div class="card">
    <div class="card-body">
    <div th:if="${notMatch}" class="alert alert-danger" role="alert">
        The password and confirm password doesn't match!
    </div>
        <div th:if="${PasswordCondition}" class="alert alert-danger" role="alert">
            The password must be at least 8 characters
        </div>
    <div th:if="${success}" class="alert alert-success" role="alert">
            Your password has been reset
        </div>


    <form th:action="@{/update-password}" method="POST" th:object="${passwordDto}">
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password"  placeholder="Enter password"
               class="form-control" required th:field="*{password}"/>

        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" name="confirmPassword"  placeholder="Enter confirm password"
                   class="form-control" required th:field="*{confirmPassword}"/>

        </div>
        <input type="text"  hidden="true"  th:value="*{email}"  th:field="*{email}"/>


       <button class="btn btn-primary mt-1" name="Submit" value="Send" type="Submit" th:text="Reset"></button>
    </form>
    </div>
    </div>
</div>

</body>
</html>